//Text Hiden
@mixin textHidden( $pixels: -9999px ) {
	overflow: hidden;
	text-indent: $pixels;
}

//Transition
@mixin transition( $content ) {
	-webkit-transition: $content;
	-moz-transition: $content;
	-ms-transition: $content;
	-o-transition: $content;
	transition: $content;
}

//ClearFix :before & :after
@mixin clearSelectors(){
	content: "";
	display: block;
	height: 0;
	clear: both;
}
@mixin clearFix( $position: both ) {
	@if $position == before{
		&:before{
			@include clearSelectors();
		}
	}@else if $position == after{
		&:after{
			@include clearSelectors();
		}
	}@else if $position == both{
		&:before, &:after{
			@include clearSelectors();
		}
	}
	zoom: 1;
}

//Media Queries
@mixin mobile( $orientation: all ) {
	@if $orientation == all {
		@media ( min-width: #{$mobile} ) and ( max-width: #{$tablet - 1px} ) {
			@content;
		}
	} @else {
		@media ( min-width: #{$mobile} ) and ( max-width: #{$tablet - 1px} ) and ( orientation: $orientation ) {
			@content;
		}
	}
}
@mixin tablet( $orientation: all ) {
	@if $orientation == all {
		@media ( min-width: #{$tablet} ) and ( max-width: #{$desktop - 1px} ) {
			@content;
		}
	} @else {
		@media ( min-width: #{$tablet} ) and ( max-width: #{$desktop - 1px} ) and ( orientation: $orientation ) {
			@content;
		}
	}
}
@mixin desktop {
	@media ( min-width: #{$desktop} ) {
		@content;
	}
}